---
import InstagramIcon from "../imagenes/icon/Instagram.astro"
import GithubIcon from "../imagenes/icon/Github.astro"
import LinkedinIcon from "../imagenes/icon/Linkedin.astro"


---
<div class="flex justify-center items-center  m-8 mt-16 bg-[#1e1e1e] rounded-lg p-4 shadow-lg">
    <div class="flex space-x-4 gap-6">
        <a 
            href="#"
            target="_blank"
            class="block text-[#1ed760] hover:text-[#1ac450] transition-colors"
        >
            <InstagramIcon class="w-6 h-6" />
        </a>
        <a
            href="#"
            target="_blank"
            class="block text-[#1ed760] hover:text-[#1ac450] transition-colors"
        >
            <GithubIcon class="w-6 h-6" />
        </a>
        <a
            href="#"
            target="_blank"
            class="block text-[#1ed760] hover:text-[#1ac450] transition-colors"
        >
            <LinkedinIcon class="w-6 h-6" />
        </a>
        </div>
    </div>